body {
	font-family: "Raleway", serif !important;
	background-color: #dfdfdf;
}

.title_container {
	width: 30%;
}
.title {
	text-align: center;
	border-bottom: 1px;
	width: 100%;
	margin: 0 0 0 10px;
	font-size: 36px;
	background-color: #FFFF99;
	height: auto;
	z-index: 10;
	border-radius: 50%;
	padding: 30px 0;
	font-family: 'Homemade Apple', cursive;
	float: left;
}

.make_changes {
	text-align: center;
}

.controls_wrapper {
	width: 65%;
	margin: -200px auto 0;
	height: 0;
	overflow-y: hidden;
	float: right;
}

#slider {
	display: block;
}
.gender_buttons,
.display_options {
	margin: 10px auto;
}

.gender_buttons {
	width: 50%;

}

.all_buttons,
.all_displays {
	text-align: center;
}

.gender_buttons a {
	color: black;
}

.gender_buttons a div,
.display_options a div {
	display: inline;
	margin: 0 40px;
}

.data_container {
	display: none;
	text-align: center;
	margin: 20px;
}

.data_container div {
	margin: 10px 0;
}

.cloud_container {
	margin: 0 auto;
	width: 100%;
	float: left;
}

.form_container {
	margin: 0px auto;
	width: 50%;
	text-align: center;
}

.name_container {
	text-align: center;
	font-size: 40px;
	float: left;
	width: 100%;
}

.years_container {
	text-align: center;
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
}


/* slider css */
#slider,
.ui-rangeSlider-innerBar,
.ui-rangeSlider-bar {
	width: 50%;
}

div.ui-rangeSlider-bar,
div.ui-rangeSlider-leftHandle,
div.ui-rangeSlider-handle-inner,
div.ui-rangeSlider-container {
	height: 5px;
}

#slider {
	margin: 20px auto;
}
div.ui-rangeSlider-bar {
	background-color: #9CDAEF;
}

#save {
	text-align: center;
}

/* word cloud css */

svg {
	margin: 0 auto;
	display: block;
	padding: 10px;
	background-color: white;
	border-radius: 30%;
}

svg text {
	font-family: cursive !important;
}

/*text:hover {
	font-size: 50px !important;
	padding: 10px !important;
}*/

@media(max-width: 960px) {
	svg {
		width: 600 !important;
		height: 300 !important;

	}

	g {
		-ms-transform: translate(300px,150px); /* IE 9 */
   		-webkit-transform: translate(300px,150px); /* Safari */
    	transform: translate(300px,150px);;
	}

	text {
		font-size: 10px !important;
		padding: 0 !important;
	}
}

